main {
    width: 100%;
    max-width: 900px;

    margin: 0 auto;
    padding: 30px 20px;

    box-sizing: border-box;
}



main section:first-child {
    margin-bottom: 40px;
}

main h2 {
    margin-bottom: 20px;

    color: var(--mar-profundo);
}

label {
    display: block;

    margin-bottom: 8px;

    font-weight: 600;
}

input[type="date"] {
    padding: 10px;

    border: 1px solid #ccc;
    border-radius: 6px;

    font-size: 1rem;
}



button {
    padding: 10px 18px;

    border: none;
    border-radius: 6px;

    background-color: var(--azul-do-mar);
    color: var(--branco);

    font-weight: 600;

    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}



#lista-reservas {
    display: flex;

    flex-direction: column;

    gap: 15px;
}


.card-reserva {
    text-align: center;
    width: 30%;
    padding: 20px;

    border-radius: 8px;

    background-color: var(--areia-fina);

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.card-reserva h3 {
    margin-top: 0;

    color: var(--azul-do-mar);
}

.card-reserva p {
    margin: 8px 0;
}




.btn-cancelar {
    margin-top: 10px;

    background-color: var(--laranja-por-do-sol);
}

.btn-cancelar:hover {
    background-color: #d95300;
}